/* style.css : Feuille de style principale
Projet : Web
Auteurs : COLONNA D'ISTRIA Joseph
          ASSUIED Gabriel
Style global, typographie, navigation, thèmes */

/*Imports de polices Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

/* Variables CSS définies*/

:root {
    --couleur-fond: #f5f0e8;
    --couleur-fond-secondaire: #ede8da;
    --couleur-texte: #1a1208;
    --couleur-texte-secondaire: #c4a35a;
    --couleur-bordure: #c9b99a;
    --couleur-accent: #8b1a1a;
    --couleur-accent-secondaire: #c4a35a;
    --couleur-carte: #faf6ef;
    --ombre: rgba(26, 18, 8, 0.12);
    --police-titre: 'Playfair Display', Georgia, serif;
    --police-corps: 'EB Garamond', Georgia, serif;
    --police-code: 'Courier Prime', 'Courier New', monospace;
    --transition: 0.3s ease;
}

/* Thème sombre (classe .theme-sombre) */

.theme-sombre {
    --couleur-fond: #0d0d0d;
    --couleur-fond-secondaire: #1a1a1a;
    --couleur-texte: #e8dcc8;
    --couleur-texte-secondaire: #b0a080;
    --couleur-accent: #c4785a;
    --couleur-accent-secondaire: #8b6a3a;
    --couleur-bordure: #3a3020;
    --couleur-carte: #161410;
    --ombre: rgba(0, 0, 0, 0.5);
}

.theme-principal {
    --couleur-fond: #d4b896;
    --couleur-fond-secondaire: #c4a882;
    --couleur-texte: #2a1800;
    --couleur-texte-secondaire: #5a3800;
    --couleur-accent: #6b2c00;
    --couleur-accent-secondaire: #8b5a00;
    --couleur-bordure: #a07840;
    --couleur-carte: #dcc8aa;
    --ombre: rgba(42, 24, 0, 0.2);
}

/*RESET CSS*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base */

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    font-family: var(--police-corps);
    font-size: 1rem;
    line-height: 1.75;
    transition: background-color var(--transition), color var(--transition);
    min-height: 100vh;
}
/* Typographie générale */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--police-titre);
    line-height: 1.2;
    color: var(--couleur-texte);
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
    font-style: italic
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    margin-bottom: 1.2rem;
}

a {
    color: var(--couleur-accent);
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color var(--transition), opacity var(--transition);
}

a:hover {
    opacity: 0.75; 
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

.liste-style {
    list-style: none;
    margin-left: 0;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}